body {
  height: 95vh;
  width: 95;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba( 44, 139, 44)
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.btnStart {
  margin-left: 15px;
  width: 100px;
  height: 40px;
  background: rgb(104, 104, 104);
  color: aliceblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}